@model IEnumerable<MountainRoutes.Models.MountainRoute>

@{
    ViewData["Title"] = "Маршрути";
}

<h1>Маршрути</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Създай нов</a>
    </p>
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Име</th>
                <th>Дължина (км)</th>
                <th>Трудност</th>
                <th>Създаден на</th>
                <th>Планина</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthKm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mountain.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Детайли</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Редактирай</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Изтрий</a>
                    }
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
